extends ../layout
block  content
    .container
        .row
            table.table.table-hover.table-bordered
                thread
                    tr
                        th 分类名称
                        th 电影数量
                        th 录入时间
                        th 更新
                        th 删除
                tbody
            each item in categories
                tr(class="item-id-#{item._id}")
                    td #{item.name}
                    td #{item.movie.count}
                    td #{moment(item.meta.createAt).format('MM/DD/YYYY')}
                    td: a(target="_blank",href="/admin/category/update/#{item._id}") 修改
                    td
                        button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
            a.btn.btn-primary(href="/admin/category/new") 继续增加分类
    //script(src="/js/admin.js")