extends ../layout
block  content
    .container
        .row
            each cate in  categories
                .panel.panel-default
                    .panel-heading
                        h4
                          a(href="/results?cat=#{cate._id}&p=1") #{cate.name}
                    .panel-body
                        if cate.movie && cate.movie.length > 0
                        each item in cate.movie
                            .col-md-2
                                .thumbnail
                                    a(href="/movie/#{item._id}")
                                        //- 判断是否是http引用图片
                                        - if(item.poster.indexOf('http:')>-1)
                                            img(src="#{item.poster}",alt="#{item.title}")
                                        - else
                                            img(src="/upload/#{item.poster}",alt="#{item.title}")

                                    .caption
                                        h3 #{item.title}
                                        p: a.btn.btn-primary(href="/movie/#{item._id}",role="button") 观看预告片