extends ../layout
block  content
   .container
      .row
         .panel.panel-default
            .panel-heading
               h4 #{keyword}
            .panel-body
               if movies && movies.length > 0
                     each item in movies
                        .col-md-2
                           .thumbnail
                              a(href="/movie/#{item._id}")
                                 img(src="#{item.poster}",alt="#{item.title}")
                              .caption
                                 h3 #{item.title}
                                 p: a.btn.btn-primary(href="/movie/#{item._id}",role="button") 观看预告片
          ul.pagination
             - for(var i=0;i<totalPage;i++)
                 - if(totalPage>0&&i==0)
                        li(class="#{currentPage>1?'':'disabled'}")
                           a(href="results?p=#{currentPage-1}&#{query}")
                              span(aria-hidden='true')&laquo;
                              span.sr-only 上一页
                 - if(currentPage==(i+1))
                     li.active
                        span  #{currentPage}
                 - else
                     li
                        a(href="results?p=#{i+1}&#{query}") #{i+1}


